secrets.tfvars
*.tfstate
*.hcl
*.exe
**/.terraform/**
.terraform.lock.hcl

# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# logs
*.log

# Directories
.terraform/
.vagrant/

# SSH Keys
*.pem

# Backup files
*.bak